.destaquesSessao{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 50px;
}
img.imgDestaque{
    border-radius: 0px 10px 10px 0px;
    border-left: 7px solid red;
    width: 300px;
    height: 400px;
}
@media (max-width: 1280px) {
    img.imgDestaque{
        width: 200px;
        height: 300px;
    }
  }
@media (max-width: 1080px) {
    img.imgDestaque{
        width: 200px;
        height: 300px;
    }
  }
  @media (max-width: 1016px) {
    img.imgDestaque{
        width: 170px;
        height: 270px;
    }
  }
  @media (max-width: 420px) {
    img.imgDestaque{
        width: 150px;
        height: 250px;
    }
  }
 