.body {
    background-color: rgb(255, 255, 255);
}
.banner1 {
    width: 100%;
}
.banner2 {
    height: 700px;
    width: 700px;
    border-radius: 10px;
}
.line {
    height: 25px;
    width: 100%;
    margin-top: 8px;
    background-color: #e32636;
}
.line2 {
    height: 25px;
    width: 100%;
    margin-top: 8px;
    background-color: #e32636;
    margin-top: -120px;
}
.info1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 90px;
    width: 100%;
    background-color: rgba(244, 241, 239, 0.515);
    padding: 60px;
}
.infosBanner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.ProximoJogo1 {
    width: 544px;
    text-align: center;
    background-color: #791D17;
    border-radius: 10px 10px 0px 0px;
}
.ProximoJogo1 h1 {
    font-size: 40px;
    color: white;
}
.ProximoJogo2 {
    height: 209px;
    width: 544px;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 0px 0px 10px 10px;
}
.ProximoJogo2 h1 {
    font-size: 60px;
    color: black;
}
.Destaque1 {
    width: 544px;
    text-align: center;
    background-color: #791D17;
    border-radius: 10px 10px 0px 0px;
}
.Destaque1 h1 {
    font-size: 40px;
    color: white;
}
.Destaque2 {
    height: 209px;
    width: 544px;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 0px 0px 10px 10px;
}
.Destaque2 h1 {
    font-size: 60px;
    color: black;
}
.info2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-top: 15px;
}
.titulosection{
    font-size: 50px;
} 
.tabelas {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.tabela1{
    width: 100%;
}
.tabela2{
    width: 100%;
}
.tabela{
    display: flex;
    justify-content: center;
}
.td0 {
    width: 500px;
    height: 110px;
    font-size: 40px;
    border: 3px solid rgb(85, 84, 84);
    background-color: #D9D9D9;
    padding: 4px;
    text-align: center;
}
.td1 {
    height: 110px;
    border: 3px solid rgb(85, 84, 84);
    background-color: #eeeeee;
    padding: 4px;
    text-align: center;    
    font-size: 24px;
}
.td2 {
    height: 110px;
    border: 3px solid rgb(84, 84, 84);
    background-color: white;
    padding: 4px;
    text-align: center;
    font-size: 24px;
}
.td3 {
    height: 350px;
    border: 3px solid rgb(84, 84, 84);
    background-color: #eeeeee;
    padding: 4px;
    text-align: center;
}
.SemiFinal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.SemiFinal1 {
    border-collapse: collapse;
}
.SemiFinal2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.SemiFinal2 p {
    padding: 10px;
    font-size: 20px;
    border: 3px solid rgb(84, 84, 84);
    border-radius: 10px;
}
.Final {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    margin-top: -80px;
}
.Final1 {
    border-collapse: collapse;
}
.td4 {
    width: 90%;
    height: 100px;
    border: 3px solid rgb(84, 84, 84);
    background-color: #eeeeee;
    padding: 4px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.finalista {
    font-size: 30px;
}
.bannerInferior {
    background-color: #eeeeee;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.textFooter {
    text-align: justify;
    padding: 20px;
}
.imagemfooter img {
    width: 100% 100%;
}
.tabelaSemiFinal{
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    height: 100%;
}
.xVermelho{
    width: 60px;
}
@media (max-width: 1490px) {
    .info1 {
        padding: 30px;
    }
    .banner2 {
        height: 700px;
        width: 700px;
        border-radius: 10px;
    }
}
@media (max-width: 1330px) {
    .info1 {
        padding: 30px;
    }
    .banner2 {
        height: 600px;
        width: 600px;
    }
    
.ProximoJogo1 {
    width: 400px;
}
.ProximoJogo1 h1 {
    font-size: 40px;
}
.ProximoJogo2 {
    height: 209px;
    width: 400px;
}
.ProximoJogo2 h1 {
    font-size: 45px;
}
.Destaque1 {
    width: 400px;
}
.Destaque1 h1 {
    font-size: 40px;
}
.Destaque2 {
    height: 209px;
    width: 400px;
}
.Destaque2 h1 {
    font-size: 45px;
}
.imagemfooter img {
    width: 800px;
}
}
@media (max-width: 1250px) {            
.imagemfooter img {
    width: 600px;
}
}
  @media (max-width: 1050px) {            
    .info1 {
        padding: 30px;
    }
    .banner2 {
        height: 500px;
        width: 500px;
    }
    
.ProximoJogo1 {
    width: 300px;
}
.ProximoJogo1 h1 {
    font-size: 30px;
}
.ProximoJogo2 {
    height: 150px;
    width: 300px;
}
.ProximoJogo2 h1 {
    font-size: 30px;
}
.Destaque1 {
    width: 300px;
}
.Destaque1 h1 {
    font-size: 30px;
}
.Destaque2 {
    height: 150px;
    width: 300px;
}
.Destaque2 h1 {
    font-size: 30px;
}
.imagemfooter img {
    display: none;
}
.textFooter p{
    font-size: 18px;
}
}
@media (max-width: 900px) {            
  .info1 {
      padding: 30px;
  }
  .banner2 {
      height: 400px;
      width: 400px;
  }
  
.ProximoJogo1 {
  width: 250px;
}
.ProximoJogo1 h1 {
  font-size: 30px;
}
.ProximoJogo2 {
  height: 150px;
  width: 250px;
}
.ProximoJogo2 h1 {
  font-size: 30px;
}
.Destaque1 {
  width: 250px;
}
.Destaque1 h1 {
  font-size: 25px;
}
.Destaque2 {
  height: 150px;
  width: 250px;
}
.Destaque2 h1 {
  font-size: 30px;
}
.imagemfooter img {
  display: none;
}
.textFooter p{
  font-size: 18px;
}

.td0 {
    height: 70px;
    font-size: 25px;
}
.td1 {
    height: 70px;   
    font-size: 20px;
}
.td2 {
    height: 70px;
    font-size: 20px;
}
.td1 img{
    width: 50px;
}
.td2 img{
    width: 50px;
}
}

@media (max-width: 690px) {            
    .info1 {
        padding: 30px;
    }
    .banner2 {
        height: 300px;
        width: 300px;
    }
    .info1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
        width: 100%;
        background-color: rgba(244, 241, 239, 0.515);
        padding: 30px;
    }
    
  .ProximoJogo1 {
    width: 180px;
  }
  .ProximoJogo1 h1 {
    font-size: 20px;
  }
  .ProximoJogo2 {
    height: 100px;
    width: 180px;
  }
  .ProximoJogo2 h1 {
    font-size: 20px;
  }
  .Destaque1 {
    width: 180px;
  }
  .Destaque1 h1 {
    font-size: 20px;
  }
  .Destaque2 {
    height: 100px;
    width: 180px;
  }
  .Destaque2 h1 {
    font-size: 20px;
  }
  .imagemfooter img {
    display: none;
  }
  .textFooter p{
    font-size: 18px;
  }
  
  .td0 {
      height: 70px;
      font-size: 25px;
  }
  .td1 {
      height: 70px;   
      font-size: 20px;
  }
  .td2 {
      height: 70px;
      font-size: 20px;
  }
  .td1 img{
      width: 50px;
  }
  .td2 img{
      width: 50px;
  }
  .tabelas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.titulosection{
    font-size: 30px;
}
  }
  
@media (max-width: 900px) {            
    .info1 {
        padding: 15px;
    }
    .banner2 {
        display: none;
    } 
  .ProximoJogo1 {
    width: 300px;
  }
  .ProximoJogo1 h1 {
    font-size: 30px;
  }
  .ProximoJogo2 {
    height: 150px;
    width: 300px;
  }
  .ProximoJogo2 h1 {
    font-size: 30px;
  }
  .Destaque1 {
    width: 300px;
  }
  .Destaque1 h1 {
    font-size: 25px;
  }
  .Destaque2 {
    height: 150px;
    width: 300px;
  }
  }