*{
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden; /* Oculta a rolagem horizontal em toda a página */
}
/**********
Home*/
.home {
  background-color: #f4f4f4;
  color: #333;
}
.banner{
  width: 100%;
}
.slick-slide img {
  width: 100%; /* Garante que a imagem ocupe toda a largura do slide */
  height: auto; /* Mantém a proporção da imagem */
}
main{
  padding: 20px;
}
.sectionTabela{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modalidadesSessao{
  padding: 30px;
}
.ouro{
  color: gold;
}
.prata{
  color: silver;
}
.bronze{
  color: brown;
}
.primeiraSessao{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (max-width: 852px) {
  .primeiraSessao{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 852px) {
  .banner{
    width: 120%;
    height: 400px;
  }
}
@media (max-width: 655px) {
  .banner{
    width: 130%;
    height: 400px;
  }
}
@media (max-width: 550px) {
  .banner{
    width: 100%;
    height: auto;
  }
}
@media (max-width: 550px) {
  .home {
    overflow-x: hidden; /* Oculta a rolagem horizontal para o container principal */
  }

  .slider {
    overflow: hidden; /* Garante que o slider não cause rolagem horizontal */
  }

  .slide {
    overflow: hidden; /* Garante que os slides não causem rolagem horizontal */
  }

  .banner {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do slide */
    height: auto; /* Mantém a proporção da imagem */
  }
}