*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
/**********
Home*/
.home {
  background-color: #f4f4f4;
  color: #333;
}
.banner{
  width: 100%;
}
main{
  padding: 20px;
}
.sectionTabela{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modalidadesSessao{
  padding: 30px;
}
.ouro{
  color: gold;
}
.prata{
  color: silver;
}
.bronze{
  color: brown;
}
.primeiraSessao{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (max-width: 852px) {
  .primeiraSessao{
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 852px) {
  .banner{
    width: 120%;
    height: 400px;
  }
}
@media (max-width: 655px) {
  .banner{
    width: 130%;
    height: 400px;
  }
}
@media (max-width: 550px) {
  .banner{
    width: 100%;
    height: auto;
  }
}