*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
/**********
Home*/
.home {
  background-color: #f4f4f4;
  color: #333;
}
.banner{
  width: 100%;
}
main{
  padding: 30px;
}
.sectionTabela{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modalidadesSessao{
  padding: 30px;
}
.ouro{
  color: gold;
}
.prata{
  color: silver;
}
.bronze{
  color: brown;
}
.primeiraSessao{
  display: grid;
  grid-template-columns: 6fr 6fr;
}